/* .headerPage {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px 32px 24px;
}

.logo {
  width: 86px;
  height: 24px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 8px;
  align-items: center;
}
.toggle {
  width: 40px;
  height: 24px;
}
.menu {
  width: 32px;
  height: 8px;
} */

/* Header.css */

.headerPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray; /* Change the background color as needed */
  padding: 1rem;
  
}

.logo { 
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto;

}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  margin-right: 1rem;
  cursor: pointer;
}

/* Additional styles for responsiveness can be added as needed */




.Header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    font-size: 30px;
    /* box-shadow: 5px 5px 20px 5px; */
    background-color: inherit;
    align-items: center;
    
}

.Header div {
    /* border-radius: 8px; */
    /* text-shadow: 0 0 3px #111010, 0 0 5px #0000FF; */
    /* height: 40px;  */
    /* box-shadow: 1px 1px 5px 1px;  */
    
    padding: 3px; 
    background-color: inherit;
}



.no-decoration {
    text-decoration: none;
}



.lightMode {
    /* background: url(../Icons/../../Assets/sun-icon.png) no-repeat;
    background-size: cover; */
    background-color: yellow;

}

.darkMode {
    /* background: url(../../Assets/moon-icon-8.png) no-repeat;
    background-size: cover; */
    background-color: brown;
}

.unvisible {
    display: none;
}

.lightMode:hover, .darkMode:hover, .home:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease; 
}


.GeoFlag {
    background: url(../../Assets/geFlag.png) no-repeat;
    background-size: cover;
}

.EnFlag {
    background: url(../../Assets/enFlag.png) no-repeat;
    background-size: cover;
}

.GeoFlag:hover, .EnFlag:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease; 
}
.contIcons {
    display: flex;
    background-color: chocolate;
}

.ThemeMainDiv {
  right: 15px;
    top: 26px;
    display: flex;
    margin-top: 8px;
}
.MainLangDiv {
  right: 15px;
  top: 26px;
  display: flex;
  margin-top: 8px;
}