.homePage {
  background-image: url(../Assets/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.homePage h1 {
  font-family: Supreme;

  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
}
.homePage span {
  color: #0000ff;
  text-decoration: line-through 2px;
  text-decoration-line: line-through;
  text-decoration-color: #0000ff;
  font-size: 46px;
}
.homePage p {
  margin-top: 10px;
  font-family: Supreme;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.homeButton {
  width: 108px;
  height: 108px;
  background-color: #0000ff;
  border: none;
  border-radius: 100%;
  font-family: Supreme;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}
