.homePage {
  position: relative;
  background-image: url(../Assets/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 24px 32px 24px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.homeText,
.homeButton,
.pAndBtn {
  z-index: 2; /* Ensure text is above the overlay */
  color: #fff; /* Set the text color to white or your desired color */
}
.pAndBtn {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.homeText {
  margin-top: 80px;
}
.homePage h1 {
  font-family: Supreme;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
/* .homePage [data-language="en"] {
  font-family: "supreme", sans-serif !important;
  background-color: #0000ff;
  color: #fff;
} */
.homePage span {
  font-family: "BPGNinoMtavruliNormal", sans-serif;
  color: #0000ff;
  text-decoration: line-through 1px;
  text-decoration-line: line-through;
  text-decoration-color: #0000ff;
  font-size: 56px;
  margin-top: 20px;
}
.pAndBtn p {
  margin-top: 10px;
  font-family: Supreme;
  font-size: 18px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.homeButton {
  width: 108px;
  height: 108px;
  background-color: #0000ff;
  border: none;
  border-radius: 100%;
  font-family: Supreme;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .homeText {
    margin-left: 55px;
  }

  .textMtavari {
    margin-left: 100px;
  }
  .homeText span {
    margin-left: 0px;
  }
  .pAndBtn p {
    margin-left: 160px;
    width: 300px;
  }

  .pAndBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 50px;
  }
  .h1Desktop {
    display: flex;
  }

  .textLife {
    margin-left: 12px;
  }
}
