* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BPGNinoMtavruliNormal", sans-serif;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}

@font-face {
  font-family: "supreme";
  src: url(./Fonts/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.woff2) format("woff"),
    url(./Fonts/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.woff2) format("woff"),
    url(./Fonts/SPD5TGNFK2XOFPWN7JB26FTXSLXBKEAV.woff2) format("woff"),
    url(./Fonts/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.woff2) format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --white-to-black: white;
  --home_page-background: rgb(0, 0, 0, 0.7);
  --navbar_background: rgb(0, 0, 0, 0.9);
  --scrollbar-thumb-bg-color: rgba(229, 229, 72, 1);
  --transparent_text_border: rgba(102, 102, 102, 1);
  --black-to-transparent: black;
  --mobile-home_page-background: rgb(0, 0, 0, 1);
}

/* light mode */

.light-mode {
  --black-to-white: white;
  --white-to-black: black;
  --home_page-background: rgba(212, 209, 209, 0.7);
  --navbar_background: rgba(199, 197, 197, 0.9);
  --scrollbar-thumb-bg-color: black;
  --transparent_text_border: black;
  --black-to-transparent: transparent;
}

a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
}
body[data-language="en"] {
  font-family: "supreme", sans-serif !important;
}
